
* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    font-family: 'Karla', sans-serif;
}

main{
    padding: 30px;
}

.header{
    height: 65px;
    background-image:linear-gradient(to right,#672280, #A626D3);
    display: flex;
    padding: 20px;
    align-items: center;
    color:white
}

.header--image{
    margin-right: 6px;
    height: 100%;
}

.header--title{
    font-size: 1.25rem;
    font-weight: 700;
    margin-right: auto;
}

.header--project{
    font-size: 0.75rem;
    font-weight: 500;
}

.form{
    display:grid;
    grid-template: 54.64px 40px / 1fr 1fr;
    gap: 17px;
}

.form--button{
    grid-column: 1 / -1;
    font-family: 'Karla', sans-serif;
    border-radius: 5px;
    background-image: linear-gradient(to right, #711F8D, #A818DA);
    color: white;
    border: none;
    cursor: pointer;
}

.form--input{
    font-family: 'Karla', sans-serif;
    border: 1px solid #D1D5DB;
    box-shadow: 0px 0.82px 1.64px 0px #0000000D;
    border-radius: 5px;
    height:35px;
    text-indent: 5px;
}

.form--label{
    display:flex;
    flex-direction: column;
}

.form--label--text{
    margin-bottom: 3px;
    font-size: 0.875rem
}